<div *ngIf="!loading" class="client-container">


    <div *ngIf="!editNote && clientNoteDto">
        <button (click)="goBackToClient()">Back to Client</button>
        <br />
        <br />
        <h3>{{clientNoteDto.createDate}} {{ clientNoteDto.updateDate ? ' - Updated: ' + clientNoteDto.updateDate : '' }}
        </h3>
        <p>{{clientNoteDto.note}}</p>
        <button (click)="edit()">Edit</button>
    </div>

    <div *ngIf="editNote">
        <label for="note">Note</label>
        <textarea id="note" [(ngModel)]="clientNoteEditDto.note" rows="5" cols="40"></textarea>
        <br />
        <button (click)="save()">Save</button>
        <button (click)="cancel()">Cancel</button>
        <button (click)="delete()">Delete</button>
    </div>

</div>

<div *ngIf="showDeleteModal && !loading">
    <am-delete-entity *ngIf="showDeleteModal && !loading" [header]="'Delete Note'"
        [message]="'Are you sure you want to delete this note?'" (confirm)="onConfirmDelete($event)">
    </am-delete-entity>
</div>


<div *ngIf="loading">
    <am-loading-screen></am-loading-screen>
</div>