<div *ngIf="!loading" class="system-unavailable text-center p-4">
  <h1 class="brand mb-3">AM Tech</h1>
  <h2 class="text-danger mb-3">System Unavailable</h2>
  <p class="mb-4 text-muted">
    We’re sorry, but our system is currently unavailable.<br />
    Please try again later.
    <br />
    <span class="d-block mt-2">{{ message }}</span>
  </p>
  <button type="button" class="btn btn-primary" (click)="reCheckSytemstatus()">
    Check System Status
  </button>
</div>

<div *ngIf="loading" class="system-unavailable text-center p-4">
  <am-loading-screen></am-loading-screen>
</div>