:host ::ng-deep .unauthorized-container {
    background-color: #FFFFFF; /* White background */
    color: #000000; /* Black text */
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid #000000;
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  :host ::ng-deep .unauthorized-container h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #000000;
  }
  
  :host ::ng-deep .unauthorized-container .message {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #000000;
  }
  
  :host ::ng-deep .unauthorized-container button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  :host ::ng-deep .unauthorized-container button:hover,
  :host ::ng-deep .unauthorized-container button:focus {
    background-color: #333333;
    outline: none;
  }