<footer class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center text-md-start">
        <h5>About Us</h5>
        <p>We are a company that does something great.</p>
      </div>
      <div class="col-md-4 text-center">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-center text-md-end">
        <h5>Contact</h5>
        <p>Email: contactcompany.com</p>
        <p>Phone: +1 123 456 7890</p>
      </div>
    </div>
    <hr class="my-3" />
    <p class="text-center mb-0">© 2025 Your Company. All rights reserved.</p>
  </div>
</footer>
