<footer class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <h5>Contact</h5>
        <a href="mailto:example@example.com">example&#64;example.com</a>
        <br />
        <a href="tel:+10000000000">+1 (000) 000-0000</a>
      </div>
    </div>
    <hr class="my-3" />
    <p class="text-center mb-0">© 2025 AM Technologies. All rights reserved.</p>
  </div>
</footer>
