<div class="login-container" *ngIf="!loading">
  <h2>Login</h2>
  <div *ngIf="message" class="error-message">
    <p>{{ message }}</p>
  </div>
  <div>
    <label for="username">E-Mail:</label>
    <input
      type="text"
      id="username"
      [(ngModel)]="dto.eMail"
      name="username"
      required
    />
  </div>
  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="dto.currentPassword"
      name="password"
      required
    />
  </div>
  <button type="submit" (click)="submit($event)">Login</button>
  <a routerLink="/sign-up">Request Access Here</a>
  <a routerLink="/reset-password">Forgot Password</a>
</div>

<div class="login-container" *ngIf="loading">
  <am-loading-screen></am-loading-screen>
</div>
