<div class="login-container">
  <h2>Login</h2>
  <div *ngIf="dto.errorMessage" class="error-message">
    <p>{{ dto.errorMessage }}</p>
  </div>
  <div>
    <label for="username">E-Mail:</label>
    <input
      type="text"
      id="username"
      [(ngModel)]="dto.eMail"
      name="username"
      required
    />
  </div>
  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="dto.password"
      name="password"
      required
    />
  </div>
  <button *ngIf="!disableSubmit" type="submit" (click)="submit()">Login</button>
  <button *ngIf="disableSubmit" disabled>Login</button>
  <a href="#">Request Access</a>
</div>
