<div *ngIf="!signUpSuccessful" class="login-container">
  <h2>Sign Up</h2>
  <div *ngIf="dto.errorMessage" class="error-message">
    <p>{{ dto.errorMessage }}</p>
  </div>
  <div>
    <label for="username">E-Mail:</label>
    <input
      type="text"
      id="username"
      [(ngModel)]="dto.eMail"
      name="username"
      required
    />
  </div>
  <div>
    <label for="firstName">First Name:</label>
    <input
      type="text"
      id="firstName"
      [(ngModel)]="dto.firstName"
      name="firstName"
      required
    />
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input
      type="text"
      id="lastName"
      [(ngModel)]="dto.lastName"
      name="lastName"
      required
    />
  </div>
  <button *ngIf="!disableSubmit" type="submit" (click)="submit()">
    Sign Up
  </button>
  <button *ngIf="disableSubmit" disabled>Sign Up</button>
  <a routerLink="">Login Here</a>
</div>

<div *ngIf="signUpSuccessful" class="login-container">
  <h2>Thank You!</h2>
  <p class="message">
    Thank you for requesting access! Please be on the lookout for when it is
    your turn to use our platform.
  </p>
  <a routerLink="/">Home</a>
</div>
