<nav class="navbar navbar-expand-lg bg-white border-bottom">
  <div class="container">
    <a class="navbar-brand fw-semibold" [routerLink]="loggedIn ? '/dashboard' : '/'">AM Tech</a>

    <button *ngIf="loggedIn" class="navbar-toggler" type="button" (click)="toggleMenu()" aria-controls="navbarNav"
      [attr.aria-expanded]="isMenuOpen" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="loggedIn" [class.collapse]="!isMenuOpen" class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <ng-container *ngIf="accountStatus === AccountStatusEnum.Active">
          <li class="nav-item" *ngFor="let item of activeAccountNavItems">
            <a [routerLink]="item.link" class="nav-link" (click)="onNavItemClick()">{{ item.label }}</a>
          </li>
        </ng-container>

        <li class="nav-item">
          <a [routerLink]="'/provider-profile'" class="nav-link" (click)="onNavItemClick()">Profile</a>
        </li>

        <li class="nav-item">
          <a (click)="onLogoutClick()" class="nav-link" style="cursor: pointer">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>