<div *ngIf="!loading" class="provider-container">
  <h2 *ngIf="!editProvider">Details</h2>
  <h2 *ngIf="editProvider">Edit Details</h2>

  <div *ngIf="editDTO.errorMessage && editProvider" class="error-message">
    <p>{{ editDTO.errorMessage }}</p>
  </div>

  <!-- Display Mode -->
  <div *ngIf="!editProvider">
    <div><strong>First Name:</strong> {{ dto.firstName }}</div>
    <div><strong>Middle Name:</strong> {{ dto.middleName || "—" }}</div>
    <div><strong>Last Name:</strong> {{ dto.lastName }}</div>
    <div><strong>E-Mail:</strong> {{ dto.eMail }}</div>
    <button (click)="edit()">Edit</button>
  </div>

  <!-- Edit Mode -->
  <div *ngIf="editProvider">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" [(ngModel)]="editDTO.firstName" />

    <label for="middleName">Middle Name</label>
    <input type="text" id="middleName" [(ngModel)]="editDTO.middleName" />

    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" [(ngModel)]="editDTO.lastName" />

    <label for="countryDropdown">Country:</label>
    <select
      [(ngModel)]="editDTO.countryCode"
      (change)="onCountryChange()"
      name="countryCode"
    >
      <option *ngFor="let opt of countryCodeOptions" [value]="opt.key">
        {{ opt.label }}
      </option>
    </select>

    <label for="stateDropdown">State:</label>
    <select [(ngModel)]="editDTO.stateCode" name="countryCode">
      <option *ngFor="let opt of stateOptions" [value]="opt.key">
        {{ opt.label }}
      </option>
    </select>

    <label for="stateDropdown">Time Zone:</label>
    <select [(ngModel)]="editDTO.timeZoneCode">
      <option *ngFor="let option of timeZoneOptions" [value]="option.key">
        {{ option.label }}
      </option>
    </select>

    <a routerLink="/reset-email">Reset E-Mail</a>
    <a routerLink="/update-password">Reset Password</a>
    <br />
    <button (click)="editSave()">Save</button>
    <button (click)="cancelEdit()">Cancel</button>
  </div>
</div>

<div *ngIf="loading">
  <am-loading-screen></am-loading-screen>
</div>
